body{

    z-index: 0;
    
}

h1{
    font-size: 70px;
}


h1,h2,h3{
    text-align: center;
    color:darkolivegreen;
}

.botonA {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 30px 2px;
    cursor: pointer;

    
}

input{
   
        border-radius: 5px;
        border 0;
        border: 1px solid #39c;
      
}

fieldset{ 

width: 650px;
height: 170px;

}

.formu{
line-height: 26px;   
width: 500px;
margin: 20px ;
    
}

img{
    display:table-cell ;
    text-align: center;
    margin-top: -20px;
}

