<ol>
    <li>Pastor Aleman</li>
    <li>Bulldog</li>
    <li>Poodle</li>
    <li>Labrador</li>
    <li>Chihuahua</li>
    <li>Dachshund</li>
    <li>Husky</li>
    <li>Rottweiler</li>
    <li>Galgo</li>
    <li>Gran Danes</li>
</ol>
<a href="./Taller1.3.html"><img src="./img/atras.jpg" width="100" height="100"></a>

<footer>
    <div>             
        <div>
            <p>© Copyright 2021 Fabian Sanabria, Karla Tovar, Andres Rodriguez</p>
        </div>
   </div>
</footer>