<ul>
    <li>Persa</li>
    <li>Bengala</li>
    <li>Maine coon</li>
    <li>Siames</li>
    <li>Esfinge</li>
    <li>Ragdoll</li>
    <li>Munchkin</li>
    <li>Savannah</li>
    <li>Siberiano</li>
    <li>Angora</li>
</ul>
<a href="./Taller1.3.html"><img src="./img/atras.jpg" width="100" height="100"></a>

<footer>
    <div>             
        <div>
            <p>© Copyright 2021 Fabian Sanabria, Karla Tovar, Andres Rodriguez</p>
        </div>
   </div>
</footer>